@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.navbar-link,
.hamburg {
  opacity: 0;
  transform: translateY(10px);
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'PPMondwest', serif;
}

.overlay {
  position: absolute;
  inset: 0;
  background: transparent
}


@font-face {
  font-family: 'PPEditorial';
  src: url('./assets/font/PPEditorial.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'PPMondwest';
  src: url('./assets/font/PPMondwest-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



.cursive{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  line-height: -0.2;
  
}
.hero h1 {
  font-family: 'PPEditorial';
  letter-spacing: -0.04em;
  font-size: 8vw; 
  

 
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}


.navbar-link {
  position: relative;
  text-decoration: none;
}
.navbar-link a:hover{
  color: black;
  text-decoration: none;
}
.navbar-link a{
  color: black;
  text-decoration: none;
}




.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #FAF9F6;
  transform: scaleX(0);
  transform-origin: left;
}





.btn {
display: flex;
width: 80%;
  align-items: center;
  gap: 0.1rem;
}

html{
  overflow-y:scroll;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-background-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}



.about-section {
  position: relative;
  z-index: 2;
  margin-top: calc(var(--vh, 1vh) * 100);
  background-color: #FAF9F6;
}

/* Remove any conflicting styles for .hero, .hero-container, or .about-section */