.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .body{
    width: 80%;
    font-size: 2vw;
    text-align: center;
  }
  
  .loader {
    height: calc(100vh + 200px);
    width: 100%;
    position: fixed;
    z-index: 2000;
  }
  
  
  .loader svg{
    height: 100%;
    width: 100%;
  }
  
  .loader svg path{
    stroke: black;
    stroke-width: 1px;
    
  }
  /* Hide the main content initially */
.main-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
  }
  
  .main-content.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
  }
  